<!DOCTYPE html>
<html>
    <head>
        <title>MARVEL</title>
        <link rel="stylesheet"href="../static/css/style.css">
        <link rel="preconnect"href="https://fonts-googleapis.com"> 
        <link rel="preconnect"href="https://fonts-gstatic.com"crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">

        
    </head>
    <body>
        
        <div style="clear:both"></div>
        <div class="Avengers">
            <div class="title">
                <h1>MARVEL</h1>
            </div>
            <div class="superHeroes"><a href="../template/hulk.html"><h2>HULK</h2></a></div>
            <div class="superHeroes"><a href="../template/steeve.html"><h2>STEEVE</h2></a></div>
            <div class="superHeroes"><a href="../template/tony.html"><h2>TONY</h2></a></div>
            <div class="superHeroes"><a href="../template/thor.html"><h2>THOR</h2></a></div>
        </div>
    </body>
</html>